### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

### IntelliJ IDEA ###
target/
.gradle/
gradlew*
.DS_Store
*.iws
*.iml
*.ipr
.idea
!.idea/runConfigurations/*
oauth2/auth-server/src/main/gen/
*.default
spring-security-oauth/
