### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
.gradle/
gradle/
gradlew*

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
